.btnSuper {
  color: black;
  border-width: 5px;
  border-color: rgba(0, 0, 0, 0.2);
  width: 18vw;
  height: 18vw;
  margin: 10px;
  background-color: #ffffff;
  border-radius: 50px;
}

@media (max-width: 768px) {
  .btnSuper {
    height: 40vw;
    width: 40vw;
    margin: 10px;
  }
  .card {
    width: 100%;
  }
}
